.mobile-carousel{
    margin-top: 17vh;
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mob-carousel {
    width: 90vw;
    height: 81vh;
    border-radius: 3px;
   
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    
}
.mob-carousel:hover .controls {
        opacity: 1;
}
.mob-carousel .controls {
        opacity: 0;
        display: flex;
        position: absolute;
        top: 50%;
        left: 0;
        justify-content: space-between;
        width: 100%;
        z-index: 99999;
        transition: all ease 0.5s;

       
}
 .mob-carousel .controls .control {
     margin: 0 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 40px;
     width: 40px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.7);
     opacity: .5;
     transition: ease .3s;
     cursor: pointer;

     
 }
  .mob-carousel .controls .control:hover {
     opacity: 1;
 }
.mob-carousel .slides {
        position: absolute;
        top: 40%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
       text-align: center;
        width: 100%;
        transition: 1s ease-in-out all;
}
.mob-carousel .slides .slide {
    min-width: 100%;
    min-height: 100vh;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mob-carousel .slides .slide img{
    object-fit: cover;
}
.mob-carousel .slides .slide .content{
    top:50%;
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.windmil-image {
    object-fit: contain !important;
    max-width: 100%;
    max-height: 100%;
object-position: center;
}
@media only screen and (min-width: 200px) and (max-width: 700px) {
    .windmil-image{
        object-fit: cover !important;
    }
    .mobile-carousel {
        margin-top: 10vh;
    }
    .mob-carousel{
        width: 100vw;
        height: 100vh;
    }
    .mob-carousel .slides .slide .content{
        top:40%;
    }
}